/*Presentación Superior Marca: Logo, Nombre y banner*/

.presentacion_marca_y_menu_superior {
    float:center;
}

.presentacion_marca_y_menu_superior ul{
    list-style-type: none;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 15px ;
    padding-bottom: 15px;
    overflow: hidden;
    background-color:black;
    display: block;
    border-radius: 10px;
}

.presentacion_marca_y_menu_superior{
    background-color: black;
}

.presentacion_marca_y_menu_superior .banner_superior_presentacion_marca img{
    align-items: right;
    background-color: rgb(0, 0, 0);
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

    /*Banner 1 - Superior Presentación Marca*/
    .banner_superior_presentacion_marca{
        float:right;
        background-color: rgb(0, 0, 0);
    }

    .banner_superior_presentacion_marca ul{
        list-style-type: none;
        justify-content: space-around;
        display: block;
        padding-top: 10px;
    }

    .banner_superior_presentacion_marca img{
        align-items: right;
        width: 550px;
        height:140px;
        margin-top: 1px;
        padding-top: 10px ;
        padding-bottom: 15px;
    }

    /*Icono*/
        .menu_superior_inicio .carrito_icono_inicio img{
        height: 50px;
        width: 50px;
        align-content: right;
        padding-right: 50px;
        padding-bottom: 0px;
        padding-top: 1px;
        margin: 0px;
    }

/*Línea Superior Marca*/
.linea_superior_marca{
    background-color: black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    margin-top: 8px;
    border-radius: 3px;
}

/*Contenedor Inicio de sesión*/
.contenedor_inicio_sesion{
    float:center;
    width: 35%;
    height: 600px;
    padding: 5px;
    border-radius: 3px;
}

    /*Registrarse*/
    .registrarse {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    .registrarse .form {
        background-color: yellowgreen;
        width: 400px;
        border-radius: 8px;
        padding: 20px 40px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
      }
      
    .registrarse .title {
        font-size: 50px;
        margin-bottom: 50px;
      }

    .registrarse .inputContainer {
        position: relative;
        height: 45px;
        width: 90%;
        margin-bottom: 17px;
      }



