*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Menu Superior */
.menu_sup{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    height: 120px;
    background-color: white;
    border: 2px solid black;
    margin-top: 30px;
    align-content: center;
    justify-content: left;
}

/* Menu */
.menu{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 74%;
    height: 60px;
    margin: 30px;
    align-content: center;
    justify-content: left;
}

.menu_sup li{
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding: 12px;
    background-color: gray;
    border: 1px solid black;
    color: black;
}

#inicio{
    background-color: aqua;
}

.inicio{
    width: 150px;
    height: 100%;
    margin-left: 30px;
    justify-content: center;
}

.nuestros_prod{
    width: 500px;
    height: 100%;
    justify-content: center;
}

.nosotros{
    width: 220px;
    height: 100%;
    justify-content: center;
}

.contactanos{
    width: 220px;
    height: 100%;
    justify-content: center;
}

/*Login*/
.items_login{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 22.85%;
    height: 120px;
    background-color: white;
    border: 2px solid black;
    align-content: center;
    justify-content: center;
    margin-right: 0px;
}

.items_login li{
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding: 12px;
    background-color: gray;
    margin-left: 20px;
    color: black;
}

.iniciar_sesion{
    width: 150px;
    height: 100%;
    justify-content: center;
}

#iniciar_sesion{
    background-color: aqua;
}

.registrarse{
    width: 120px;
    height: 100%;
    justify-content: center;
}

#registrarse{
    background-color: darkblue;
    color: white;
}

/*Banner Empresa*/
.cont_banner{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    height: 600px;
    background-color: white;
    border: 2px solid black;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}


#ban_empresa{
    width: 85%;
    height: 92%;
}

/*Lineas de separación de contenido*/
.lin1{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 50px;
}

.lin2{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 3px;
}
