/*Body*/
.body{
    background-color: #999999 !important;
}

*{
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px;  */
}


/* Contenido - Contenedor Título de Ventana */
.ctdo-titulo_Ventana{
    float: left;
    width: 100%;
    height: 80px;
    background-color: white;
    border: 2px solid black;
    margin: 0px;
    margin-top: 30px;
}

.ctdo-titulo_Ventana h1{
    float: left;
    color: black;
    font-size: 30px;
    font-family: Helvetica;
    width: 100%;
    margin: 0px;
    margin-left: 10px;

}

/* <div>: Ordenar por: */
.ordenar_por{
    float: left;
    width: 40%;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.ordenar_por h2{
    float: left;
    color: black;
    font-size: 15px;
    font-family: Helvetica;
    margin: 0px;
    margin-top: 5px;
}

/* Barra de búsqueda de producto */
.barra_busqueda input{
    float: right;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0px;
    margin-top: 5px;   
    margin-bottom: 20px;
}

.barra_busqueda input{
    float: right;
    width: 30%;
    height: 30px;
}

/*Ventas Hoy Tabla <table>*/
.tab_ventas_dig_hoy {
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
    margin-top: 100px;
}

    /* Caracteísticas de productos */
    .caract_productos{
        background-color: gray;
        height: 50px;
        text-align: center;
    }

    /* Celdas */
    .tab_ventas_dig_hoy td{
        border: 1px solid black;
        text-align: center;
    }

    /* Texto */
    .tab_ventas_dig_hoy {
        color: black;
        text-align: center;
    }

    /* Total Fila Tabla */
    .total_tabla{
        background-color: white;
        height: 35px;
        text-align: center;
    }

    /* Botón: Volver - Ventas */
    .volver{
        float: left;
        width: 100px;
        height: 40px;
        background-color: white;
        border: 1px solid black;
        margin: 0px;
        margin-top: 50px;
    }

    .volver h3{
        float: left;
        color: black;
        font-size: 18px;
        font-family: Helvetica;
        margin: 0px;
        margin-top: 7px;
        margin-left: 20%;
    }

    .volver a{
        color: black;
    }