/*Body*/
.body{
    background-color: #999999 !important;
}

*{
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px;  */
}


/* Contenido - Contenedor Título de Ventana */
.ctdo-titulo_Ventana{
    float: left;
    width: 100%;
    height: 80px;
    background-color: white;
    border: 2px solid black;
    margin: 0px;
    margin-top: 20px;
}

.ctdo-titulo_Ventana h1{
    float: left;
    color: black;
    font-size: 30px;
    font-family: Helvetica;
    width: 100%;
    margin: 0px;
    margin-left: 10px;
}

/* Contenedor Añadir producto */
.añadir_producto{
    float: left;
    width: 100%;
    height: 350px;
    margin-top: 20px;
}
    /* Imagen producto */
    .imagen_producto img{
        float: left;
        width: 280px;
        height: 350px;
        border:  2px solid black;
        background-color: white;
    }

    /* Nombre Producto */
    .nombre_producto input{
        float: left;
        color: black;
        border:  2px solid black;
        font-size: 30px;
        font-family: Helvetica;
        width: 1024px;
        margin: 0px;
        margin-left: 50px;
    }

    /* Información de producto */
    #info{
        float: left;
        color: black;
        border:  2px solid black;
        font-size: 15px;
        font-family: Helvetica;
        width: 1024px;
        height: 150px;
        margin: 0px;
        margin-left: 50px;
        margin-top: 20px;
    }

    /* Precio de produto */
    .precio_producto input{
        float: left;
        color: black;
        border:  2px solid black;
        font-size: 25px;
        font-family: Helvetica;
        width: 1024px;
        margin: 0px;
        margin-left: 50px;
        margin-top: 25px;
    }

    /* Código de producto */
    .codigo_producto input{
        float: left;
        color: black;
        border:  2px solid black;
        font-size: 20px;
        font-family: Helvetica;
        width: 1024px;
        margin: 0px;
        margin-left: 50px;
        margin-top: 25px;
    }

    /* Click aquí para subir imagen */
    #subir_imagen{
        float: left;
        color: black;
        font-size: 17px;
        font-family: Helvetica;
        margin: 0px;
        margin-top: 20px;
    }

    /* Botón: Cancelar */
    .cancelar{
        float: left;
        width: 150px;
        height: 40px;
        border: 1px solid black;
        margin: 0px;
        margin-top: 30px;
        border-radius: 10px;
    }

    .cancelar h3{
        float: left;
        font-size: 18px;
        font-family: Helvetica;
        margin-top: 5px;
        margin-left: 20%;
    }

    .cancelar a{
        color: black;
    }

    /* Botón: Añadir producto */
    .añadir{
        float: right;
        width: 200px;
        height: 40px;
        border: 1px solid black;
        margin: 0px;
        margin-top: 30px;
        border-radius: 10px;
    }

    .añadir h3{
        float: left;
        font-size: 18px;
        font-family: Helvetica;
        margin-top: 5px;
        margin-left: 12%;
    }

    .añadir a{
        color: black;
    }