/* Contenedor botón Volver */
.cont-button-turn-back{
    display: flex;
    width: 100%;
    height: auto;
    margin: 3rem 0 0;
    justify-content: flex-start;
}

/* Botón volver */
.btn-turn-back{
    display: flex;
    width: auto;
    height: auto;
    padding: 7px 2rem 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #212EC2;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}

.btn-turn-back:hover{
    opacity: 0.8;
    transition: .3s;
}

.btn-turn-back a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.btn-turn-back a img{
    display: flex;
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

/* Responsive 1440px */
@media (max-width: 1440px){
    .cont-button-turn-back{
        margin: 2.5rem 0 0;
    }

    .btn-turn-back{
        padding: 5px 1.5rem 5px;
    }

    .btn-turn-back a{
        font-size: 15px;
    }

    .btn-turn-back a img{
        width: 24px;
        height: 24px;
    }
}