.cont-user-drop-down{
    display: flex;
    position: absolute;
    top: 9.8rem;
    right: 4%;
    width: 220px;
    height: auto;
    background-color: #212EC2;
    border: 2px solid black;
    border-top: none;
    justify-content: center;
    color: white;
    font-size: 16px;
    flex-direction: column;
    padding: 1.5rem 2rem 1.5rem;
}
    .item-drop-down--user{
        display: flex;
        padding: 7px 12px 7px;
        margin: 5px 0 5px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .item-drop-down--user:hover{
        background-color: black;
    }

    .item-log-out-drop-down--user{
        background-color: red;
    }

    .item-drop-down--user:hover,
    .item-log-out-drop-down--user:hover{
        transition: .4s;
    }

    .item-log-out-drop-down--user:hover{
        background-color: white;
        color: red;
    }

/* Responsive 1024px */
@media (max-width: 1024px){
    .cont-user-drop-down{
        top: 5.5rem;
        width: 180px;
    }
}

/* Responsive 425px */
@media (max-width: 425px){
    .cont-user-drop-down{
        width: auto;
        padding: 0.5rem 1rem 1rem;
    }
}