*{
    font-family: "Cambria";
}

/* Contenedor de perfil */
.cont-perfil{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
    border: 1px solid black;
    margin-top: 30px;
    padding: 3rem 0 3rem;
}

    /* Info Perfil */
    .cont-info-perfil{
        display: flex;
        list-style: none;
        flex-direction: column;
        margin-left: 50px;
    }

    .cont-info-perfil li{
        font-size: 17px;
        margin: 10px 0 10px;
    }

/* @Media */
    /* @Media 1024px */
    @media(max-width:1024px){
        /* Contenedor de perfil */
        .cont-perfil{
            padding: 2rem 0 2rem;
        }

            /* Info Perfil */
            .cont-info-perfil{
                margin-left: 50px;
            }

            .cont-info-perfil li{
                font-size: 15px;
                margin: 7px 0 7px;
            }
    }

    /* @Media 425px */
    @media(max-width: 425px){
        /* Contenedor de perfil */
        .cont-perfil{
            padding: 1rem 1.5rem 1rem;
            justify-content: flex-start;
        }

            .cont-info-perfil{
                margin-left: 0;
            }

            .cont-info-perfil li{
                font-size: 12px;
            }
    }
