*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: gray;
}

.container{
    width: 90%;
    max-width: 1280px;
    margin: auto;
    margin-top: 20px;
}

.borde{
    border: 1px solid black;
}

.items{
    height: 40px;
    display: flex;
    flex-flow: flex wrap;
    justify-content: left;
    align-items: center;
}

nav{
    height: 50px;
    display: flex;
    flex-flow: row wrap;
}

.logo{
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    height: 450px;
    display: flex;
    flex-flow: flex wrap;
    justify-content: center;
    align-items: center;
}

.navega{
    flex: 0 0 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingreso{
    flex: 0 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 150px;
    display: flex;
    flex-flow: flex wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* Formulario login */
.login{
    display: flex;
    flex-flow: flex wrap;
    justify-content: center;
    align-items: center;
}

.form_login h1{
    color: black;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.form_usuario, .form_contraseña{
    color: black;
    font-size: 20px;
    margin-top: 20px;
}

.form_usuario input, .form_contraseña input{
    background-color: white;
    margin-left: 5px;
}

#submit{
    display: flex;
    flex-flow: flex wrap;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 100px;
}