/* <input>: Buscar producto */
#buscar_producto{
    float: left;
    width: 65%;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    margin: 0px;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 60px;
}

/* Botón: Cancelar */
.cancelar{
    float: left;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    margin: 0px;
    margin-top: 300px;
    border-radius: 10px;
    margin-left: -1220px;
}

.cancelar h3{
    float: left;
    font-size: 18px;
    font-family: Helvetica;
    margin-top: 8px;
    margin-left: 20%;
}

.cancelar a{
    color: black;
}

/* Botón: Eliminar producto */
.eliminar_producto{
    float: right;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    margin: 0px;
    margin-top: 250px;
    border-radius: 10px;
    margin-right: 260px;
}

.eliminar_producto h3{
    float: left;
    font-size: 18px;
    font-family: Helvetica;
    margin-top: 8px;
    margin-left: 12%;
}

.eliminar_producto a{
    color: black;
}