/* Contenedor Última factura */
.cont-ultima_factura{
    float: left;
    width: 65%;
    height: auto;
    background-color: white;
    border: 2px solid black;
    margin-top: 20px;
}

    /* Texto de última factura */
    .cont-ultima_factura h3{
        float: left;
        color: black;
        border: 1px solid black;
        width: auto;
        font-size: 15px;
        font-family: Helvetica;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    /* Tabla de última factura */
    .tab-ultima_factura{
        width: 100%;
        height: 40px;
        background-color: white;
        color: black;
    }

    /* TD Clases */
        /* Nombre */
        .Nombre{
            width: 45%;
        }

        /* Código */
        .Código{
            width: 15%;
        }

        /* Cantidad */
        .Cantidad{
            width: 10%;
        }

        /* Precio Unidad */
        .Precio_unidad{
            width: 15%;
        }

        /* Precio Total */
        .Precio_total{
            width: 15%;
        }

        /* Caracteísticas de productos */
        .caract_productos{
            background-color: gray;
            height: 50px;
            text-align: center;
        }

        /* Celdas */
        .tab-ultima_factura td{
            border: 1px solid black;
            text-align: center;
            height: 30px;
        }

        /* Texto */
        .tab-ultima_factura {
            color: black;
            text-align: center
        }

        /* Total Fila Tabla */
        .total_tabla td{
            background-color: gray;
            height: 40px;
            text-align: center;
        }

/* Buscar Factura */
.barra_busqueda input{
    float: right;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0px;
    margin-top: 20px;   
}

.barra_busqueda input{
    float: right;
    width: 30%;
    height: 30px;
}

/* Contenedor Nueva Factura */
    /* Nueva Factura */
    .cont-nueva_factura{
        float: right;
        width: 30%;
        height: 140px;
        background-color: white;
        border: 1px solid black; 
        border-radius: 10px;
        margin: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .cont-nueva_factura img{
        float: left;
        width: 100px;
        height: 100px;
        margin: 10px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .cont-nueva_factura h3{
        float: right;
        font-size: 30px;
        margin: 0px;
        margin-right: 40px;
        margin-top: 50px;     
    }

    .cont-nueva_factura a{
        color: black;
    }