/* Mes  */
.mes{
    float: left;
    width: 100%;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    margin: 0px;
    margin-top: 20px;
}

    /* Subtítulo: Mes */
    .ctdo_subtitulo_mes h2{
        float: left;
        color: black;
        font-size: 25px;
        font-family: Helvetica;
        width: 100%;
        margin: 0px;
        margin-left: 10px;
        margin-top: 5px;
    }

    /* Botón: Limpiar */
    .bott_limpiar{
        float: left;
        width: 100px;
        height: 35px;
        margin-top: 20px;
        margin-left: -2px;
        border: 1px solid black;
    }

    .bott_limpiar h3{
        float: left;
        color: black;
        font-size: 15px;
        font-family: Helvetica;
        margin-top: 5px;
    }

    /* Seleccionar mes */
    #meses{
        float: left;
        color: black;
        font-size: 15px;
        width: 100px;
        height: 80%;
        margin-top: -85px;
        margin-left: 1100px;
    }

/* Contenido meses */
#contenido-Enero-Inv, #contenido-Febrero-Inv,
#contenido-Marzo-Inv, #contenido-Abril-Inv,
#contenido-Mayo-Inv, #contenido-Junio-Inv,
#contenido-Julio-Inv, #contenido-Agosto-Inv,
#contenido-Septiembre-Inv, #contenido-Octubre-Inv,
#contenido-Noviembre-Inv, #contenido-Diciembre-Inv{
    float: left;
    width: 100%;
    height: 1000px;
    margin-top: 100px;
}

/* Título Seleccionar Mes */
.titulo_mes{
    float: left;
    height: 60px;
    width: 100%;
    background-color: white;
    border: 2px solid black;
}

.titulo_mes h2{
    float: left;
    color: black;
    font-size: 35px;
    font-family: Helvetica;
    margin-top: 10px;
}

/* Tíitulo Productos */
.titulo_productos{
    float: left;
    height: 60px;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    margin-top: -50px;
}

.titulo_productos h2{
    float: left;
    color: black;
    font-size: 35px;
    font-family: Helvetica;
    margin-top: 5px;
    margin-left: 10px;
}

/* <div>: Ordenar por: */
.ordenar_por{
    float: left;
    width: 40%;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.ordenar_por h2{
    float: left;
    color: black;
    font-size: 15px;
    font-family: Helvetica;
    margin: 0px;
    margin-top: 5px;
    margin-left: 10px;
}

/* Barra de búsqueda de producto */
.barra_busqueda input{
    float: right;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0px;
    margin-top: 5px;   
    margin-bottom: 30px;
}

.barra_busqueda input{
    float: right;
    width: 30%;
    height: 30px;
}

/* Opciones de Producto  */
.opciones_productos{
    width: 90%;
}
    /* Añadir Producto */
    .bott-añadir_producto{
        float: left;
        width: 250px;
        height: 80px;
        background-color: white;
        border: 2px solid black;
        margin-top: 60px;
        margin-left: -490px;
        margin-bottom: 50px;
    }

    .bott-añadir_producto img{
        float: left;
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }

    .bott-añadir_producto h3{
        float: left;
        color: black;
        font-size: 18px;
        font-family: Helvetica;
        margin-left: 10px;
    }

    /* Editar Producto */
    .bott-editar_producto{
        float: left;
        width: 250px;
        height: 80px;
        background-color: white;
        border: 2px solid black;
        margin-top: 60px;
        margin-left: -200px;
        margin-bottom: 50px;
    }

    .bott-editar_producto img{
        float: left;
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }

    .bott-editar_producto h3{
        float: left;
        color: black;
        font-size: 18px;
        font-family: Helvetica;
        margin-left: 10px;
    }

    /* Eliminar Producto */
    .bott-eliminar_producto{
        float: left;
        width: 250px;
        height: 80px;
        background-color: white;
        border: 2px solid black;
        margin-top: 60px;
        margin-left: 40px;
        margin-bottom: 50px;
    }

    .bott-eliminar_producto img{
        float: left;
        width: 55px;
        height: 55px;
        margin-left: 8px;
    }

    .bott-eliminar_producto h3{
        float: left;
        color: black;
        font-size: 18px;
        font-family: Helvetica;
        margin-left: 70px;
        margin-top: -40px;
    }

/* Productos Tabla <table> */
.tab_productos{
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
}

/* TD Clases */
    /* #Producto */
    .Num_producto-Inv{
        width: 10%;
    }

    /* Código */
    .Codigo-Inv{
        width: 10%;
    }

    /* Nombre Producto */
    .Nombre-Inv{
        width: 40%;
    }

    /* Existencias Iniciales */
    .Existencias_iniciales-Inv{
        width: 10%;
    }

    /* Entradas */
    .Entradas-Inv{
        width: 10%;
    }

    /* Salidas */
    .Salidas-Inv{
        width: 10%;
    }

    /* Stock */
    .Stock-Inv{
        width: 10%;
    }

    /* Caracteísticas de productos */
    .caract_productos{
        background-color: gray;
        height: 50px;
        text-align: center;
    }

    /* Celdas */
    .tab_productos td{
        border: 1px solid black;
        text-align: center;
        height: 40px;
    }

    /* Texto */
    .tab_productos {
        color: black;
        text-align: center
    }

    /* Total Fila Tabla */
    .total_tabla{
        background-color: white;
        height: 35px;
        text-align: center;
    }

    /*Opciones de edición de producto: Nombre */
    #nombre_producto{
        width: 100%;
        height: 100%;
        border: black;
        font-size: 15px;
        text-align: center;
    }

    /*Opciones de edición de producto: Existencias Iniciales */
    #existencias_iniciales{
        width: 100%;
        height: 100%;
        border: black;
        font-size: 15px;
        text-align: center; 
    }

    /*Opciones de edición de producto: Entradas */
    #entradas{
        width: 100%;
        height: 100%;
        border: black;
        font-size: 15px;
        text-align: center;
    }

    /*Opciones de edición de producto: Salidas */
    #salidas{
        width: 100%;
        height: 100%;
        border: black;
        font-size: 15px;
        text-align: center;
    }

    /*Opciones de edición de producto: Stock */
    #stock{
        width: 100%;
        height: 100%;
        border: black;
        font-size: 15px;
        text-align: center;
    }

/* Tablas Entradas y Salidas de Inventarios */
    /* Entradas */
        /* Título */
        .titulo_entradas{
            float: left;
            height: 60px;
            width: 100%;
            background-color: white;
            border: 2px solid black;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        
        .titulo_entradas h2{
            float: left;
            color: black;
            font-size: 35px;
            font-family: Helvetica;
            margin-top: 5px;
            margin-left: 10px;
        }

    .tab_entradas{
        width: 100%;
        height: 40px;
        background-color: white;
        color: black;
    }

    /* TD Clases */
        /* #Producto */
        .Num_Factura-Inv{
            width: 15%;
        }

        /* Código */
        .Fecha-Inv{
            width: 20%;
        }

        /* Nombre Producto */
        .Nombre-Inv{
            width: 45%;
        }

        /* Cantidad */
        .Cantidad-Inv{
            width: 15%;
        }

        /* Caracteísticas de productos */
        .caract_productos{
            background-color: gray;
            height: 50px;
            text-align: center;
        }

        /* Celdas */
        .tab_entradas td{
            border: 1px solid black;
            text-align: center;
            height: 40px;
        }

        /* Texto */
        .tab_entradas{
            color: black;
            text-align: center
        }

        /*Opciones de edición de producto: N° Factura */
        #num_factura{
            width: 100%;
            height: 100%;
            border: black;
            font-size: 15px;
            text-align: center;
        }

        /*Opciones de edición de producto: Nombre */
        #nombre_producto{
            width: 100%;
            height: 100%;
            border: black;
            font-size: 15px;
            text-align: center;
        }

        /*Opciones de edición de producto: Fecha */
        #fecha_entrada{
            width: 100%;
            height: 100%;
            border: black;
            font-size: 15px;
            text-align: center;
        }

        /*Opciones de edición de producto: Cantidad */
        #cantidad_entrada{
            width: 100%;
            height: 100%;
            border: black;
            font-size: 15px;
            text-align: center;
        }

    /* Salidas */
        /* Título */
        .titulo_salidas{
            float: left;
            height: 60px;
            width: 100%;
            background-color: white;
            border: 2px solid black;
            margin-top: 80px;
            margin-bottom: 30px;
        }
        
        .titulo_salidas h2{
            float: left;
            color: black;
            font-size: 35px;
            font-family: Helvetica;
            margin-top: 5px;
            margin-left: 10px;
        }

    .tab_salidas{
        width: 100%;
        height: 40px;
        background-color: white;
        color: black;
        margin-top: 150px;
    }

    /* TD Clases */
        /* #Producto */
        .Num_Factura-Inv{
            width: 15%;
        }

        /* Código */
        .Fecha-Inv{
            width: 20%;
        }

        /* Nombre Producto */
        .Nombre-Inv{
            width: 45%;
        }

        /* Cantidad */
        .Cantidad-Inv{
            width: 15%;
        }

        /* Caracteísticas de productos */
        .caract_productos{
            background-color: gray;
            height: 50px;
            text-align: center;
        }

        /* Celdas */
        .tab_salidas td{
            border: 1px solid black;
            text-align: center;
            height: 40px;
        }

        /* Texto */
        .tab_salidas{
            color: black;
            text-align: center
        }

        /*Opciones de edición de producto: N° Factura */
        #num_factura{
            width: 100%;
            height: 100%;
            border: black;
            font-size: 15px;
            text-align: center;
        }

        /*Opciones de edición de producto: Nombre */
        #nombre_producto{
            width: 100%;
            height: 100%;
            border: black;
            font-size: 15px;
            text-align: center;
        }

        /*Opciones de edición de producto: Fecha */
        #fecha_entrada{
            width: 100%;
            height: 100%;
            border: black;
            font-size: 15px;
            text-align: center;
        }

        /*Opciones de edición de producto: Cantidad */
        #cantidad_entrada{
            width: 100%;
            height: 100%;
            border: black;
            font-size: 15px;
            text-align: center;
        }

/* Botones Opciones Cambios */
    /* Botón: Cancelar */
    .cancelar{
        float: left;
        width: 150px;
        height: 40px;
        border: 1px solid black;
        margin: 0px;
        margin-top: 30px;
        border-radius: 10px;
    }

    .cancelar h3{
        float: left;
        font-size: 18px;
        font-family: Helvetica;
        margin-top: 5px;
        margin-left: 20%;
    }

    .cancelar a{
        color: black;
    }

    /* Botón: Guardar Cambios */
    .guardar_cambios{
        float: right;
        width: 200px;
        height: 40px;
        border: 1px solid black;
        margin: 0px;
        margin-top: 30px;
        border-radius: 10px;
    }

    .guardar_cambios h3{
        float: left;
        font-size: 18px;
        font-family: Helvetica;
        margin-top: 5px;
        margin-left: 12%;
    }

    .guardar_cambios a{
        color: black;
    }