/* Tabla Ventas */
.table-sales{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

    /* Columnas - Encabezado de tabla */
    .thead-sales{
        display: flex;
        width: 100%;
        height: auto;
        max-height: 40px;
        justify-content: space-between;
    }

        /* Columna */
        .col-sale{
            display: flex;
            width: auto;
            height: auto;
            padding: 8px 12px 8px;
            background-color: #212EC2;
            border: 1px solid black;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            color: white;
        }

    /* Filas - Cuerpo/contenido de tabla */
    .tbody-sales{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        margin: 2px 0 0;
    }
        /* Fila */
        .row-sale{
            display: flex;
            width: auto;
            height: auto;
            padding: 7px 12px 7px;
            background-color: #D9D9D9;
            border: 1px solid black;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            text-align: center;
        }

        /* Columna: No */
        /* Fila: No */
        .col-no-sale,
        .row-no-sale{
            width: 8%;
        }

        /* Columna: Fecha */
        /* Fila: Fecha */
        .col-date-sale,
        .row-date-sale{
            width: 28%;
        }
        
        /* Columna: Entradas */
        /* Fila: Entradas */
        .col-total-sale,
        .row-total-sale{
            width: 33%;
        }

        /* Columna: Acciones */
        /* Fila: Acciones */
        .col-actions-sale,
        .row-actions-sale{
            width: 30.5%;
        }

        .row-actions-sale{
            justify-content: space-between;
            padding: 0;
            border: none;
            background: transparent;
        }

        /* Acciones de Producto */
            /* Estilo Botón */
            .btn-prod{
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                padding: 0;
                border: 1px solid black;
                cursor: pointer;
            }
            
            .btn-prod:hover{
                opacity: 0.8;
                transition: .3s;
            }

            .btn-prod a{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .btn-prod a img{
                width: 12px;
                height: 12px;
                margin-right: 5px;
            }

            .btn-prod a h2{
                font-size: 15px;
                font-weight: lighter;
            }

            /* Editar */
            .btn-edit-sale{
                width: 45%;
                background-color: #1988CF;
            }

            /* Eliminar */
            .btn-delete-sale{
                width: 54.5%;
                background-color: red;
            }

/* Responsive 1440px */
@media (max-width: 1440px){
    .col-sale{
        padding: 6px 12px 6px;
        font-size: 15px;
    }

    .row-sale{
        padding: 5px 12px 5px;
    }

    .row-sale,
    .btn-prod a h2{
        font-size: 13px;
    }

    .btn-prod img{
        width: 10px;
        height: 10px;
    }

    .row-actions-sale{
        padding: 0;
    }
}

/* Responsive 1024px */
@media (max-width: 1024px){
    .btn-prod a h2{
        display: none;
    }

    .btn-prod a img{
        margin: 0;
    }

    .btn-edit-sale,
    .btn-delete-sale{
        width: 49.5%;
    }

    .col-no-sale,
    .row-no-sale{
        width: 12%;
    }

    .col-date-sale,
    .row-date-sale{
        width: 30%;
    }

    .col-total-sale,
    .row-total-sale{
        width: 33%;
    }

    .col-actions-sale,
    .row-actions-sale{
        width: 24%;
    }
}

/* Responsive 425px */
@media (max-width: 425px){
    .col-sale{
        font-size: 12px;
    }

    .row-sale{
        font-size: 11.5px;
    }

    .col-total-sale,
    .row-total-sale{
        width: 31%;
    }

    .col-actions-sale,
    .row-actions-sale{
        width: 25%;
    }

    .btn-prod{
        width: 48%;
    }

    .btn-prod img{
        width: 8px;
        height: 8px;
    }
}
