/* Contenedor Información vital */
.cont_info{
    float: left;
    width: 100%;
    height: 70px;
    background-color: white;
    border:  2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

    /* Nombre Factura */
    .nombre_fact{
        float: left;
        width: 100%;
        height: 50%;
    }

    .nombre_fact h3{
        float: left;
        color: black;
        font-size: 20px;
        font-family: Helvetica;
        margin: 4px;
        margin-bottom: 0px;
    }

    .nombre_fact input{
        float: right;
        width: 81%;
        height: 100%;
        border: 1px solid black;
    }

    /* Fecha  de creación */
    .fecha_creacion{
        float: left;
        width: 100%;
        height: 50%;
    }

    .fecha_creacion h3{
        float: left;
        color: black;
        font-size: 20px;
        font-family: Helvetica;
        margin: 4px;
        margin-bottom: 0px;
    }

    .fecha_creacion input{
        float: left;
        width: 30%;
        height: 100%;
        border: 1px solid black;
        margin-left: 15px;
    }

/* Tabla de edición */
.tab_edicion{
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
}

/* TD Clases */
    /* Nombre Producto */
    .Nombre{
        width: 50%;
    }

    /* Cantidad */
    .Cantidad{
        width: 10%;
    }

    /* Precio /u */
    .Precio_unidad{
        width: 20%;
    }

    /* Precio total */
    .Precio_total{
        width: 20%;
    }

    /* Características de productos */
    .caract_productos{
        background-color: gray;
        height: 50px;
        text-align: center;
    }

    /* Celdas */
    .tab_edicion td{
        border: 1px solid black;
        text-align: center;
        height: 30px;
    }

    /* Texto */
    .tab_edicion {
        color: black;
        text-align: center
    }

    /* Total Fila Tabla */
    .total_tabla{
        background-color: white;
        height: 35px;
        text-align: center;
    }

    /*Opciones de edición de producto: Nombre */
    #nombre_producto{
        width: 100%;
        height: 100%;
        border: black;
        font-size: 15px;
        text-align: center;
    }

    /*Opciones de edición de producto: Nombre */
    #colNombre{
        width: 100%;
        height: 100%;
        border: black;
        font-size: 15px;
        text-align: center; 
    }

    /*Opciones de edición de producto: Cantidad */
    #colCantidad{
        width: 100%;
        height: 100%;
        border: black;
        font-size: 15px;
        text-align: center;
    }

    /*Opciones de edición de producto: Precio /u */
    #colPrecioUnidad{
        width: 100%;
        height: 100%;
        border: black;
        font-size: 15px;
        text-align: center;
    }

    /* Botón: Añadir Fila */
    .añadir_fila{
        float: left;
        width: 200px;
        height: 40px;
        background-color: rgb(29, 29, 235);
        border: 1px solid black;
        margin: 0px;
        margin-top: 30px;
        border-radius: 10px;
    }

    .añadir_fila h3{
        float: left;
        color: whitesmoke;
        width: 100%;
        font-size: 18px;
        font-family: Helvetica;
        margin-top: 8px;
    }

    .añadir_fila a{
        color: black;
    }

    /* Botón: Eliminar Fila */
    .eliminar_fila{
        float: left;
        width: 200px;
        height: 40px;
        background-color: red;
        border: 1px solid black;
        margin: 0px;
        margin-top: 30px;
        border-radius: 10px;
        margin-left: 20px;
    }

    .eliminar_fila h3{
        float: left;
        color: whitesmoke;
        width: 100%;
        font-size: 18px;
        font-family: Helvetica;
        margin-top: 8px;
    }

    .eliminar_fila a{
        color: black;
    }

    /* Botón: Crear Factura */
    .crear_factura{
        float: right;
        width: 200px;
        height: 40px;
        border: 1px solid black;
        margin: 0px;
        margin-top: 30px;
        border-radius: 10px;
    }

    .crear_factura h3{
        float: left;
        width: 100%;
        font-size: 18px;
        font-family: Helvetica;
        margin-top: 8px;
    }

    .crear_factura a{
        color: black;
    }
