/*Body*/
body{
  background-color: gray;
}

/*H1*/
h1{
  color: black;
  font-family: Arial;
  font-size: 30px;
}

/*Presentación Superior Marca: Logo, Nombre y banner*/

.presentacion_marca_y_menu_superior {
    float:center;
}

.presentacion_marca_y_menu_superior ul{
    list-style-type: none;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 15px ;
    padding-bottom: 15px;
    overflow: hidden;
    background-color:black;
    display: block;
    border-radius: 1px;
}

.presentacion_marca_y_menu_superior{
    background-color: black;
}

.presentacion_marca_y_menu_superior .banner_superior_presentacion_marca img{
    align-items: right;
    background-color: rgb(0, 0, 0);
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

    /*Banner 1 - Superior Presentación Marca*/
    .banner_superior_presentacion_marca{
        float:right;
        background-color: rgb(0, 0, 0);
    }

    .banner_superior_presentacion_marca ul{
        list-style-type: none;
        justify-content: space-around;
        display: block;
        padding-top: 10px;
    }

    .banner_superior_presentacion_marca img{
        align-items: right;
        width: 550px;
        height:140px;
        margin-top: 1px;
        padding-top: 10px ;
        padding-bottom: 15px;
    }

    /*Icono*/
        .menu_superior_inicio .carrito_icono_inicio img{
        height: 50px;
        width: 50px;
        align-content: right;
        padding-right: 50px;
        padding-bottom: 0px;
        padding-top: 1px;
        margin: 0px;
    }

/*Línea Superior Marca*/
.linea_superior{
    background-color: black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    margin-top: 8px;
    border-radius: 1px;
}

/*Contenedor Inicio de sesión*/
    /*Registrarse e Iniciar Sesión*/
    .registrarse_inicio-sesion {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 250px;
        padding-bottom: 300px;
      }

      .form {
        background-color: white;
        width: 45%;
        border-radius: 1px;
        padding: 20px 40px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
      }
      
      .title {
        font-size: 50px;
        margin-bottom: 50px;
      }

      .inputContainer {
        position: relative;
        height: 45px;
        width: 90%;
        margin-bottom: 17px;
      }

      .input {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        border: 1px solid #DADCE0;
        border-radius: 7px;
        font-size: 16px;
        padding: 0 20px;
        outline: none;
        background: none;
        z-index: 1;
      }

      ::placeholder {
        color: transparent;
      }

      .label {
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 0 4px;
        background-color: white;
        color: #DADCE0;
        font-size: 16px;
        transition: 0.5s;
        z-index: 0;
      }

      .submitBtn {
        display: block;
        margin-left: auto;
        padding: 15px 30px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 30px;
      }
      
      .submitBtn:hover {
        background-color: black;
        transform: translateY(-2px);
      }

      .input:focus + .label {
        top: -7px;
        left: 3px;
        z-index: 10;
        font-size: 14px;
        font-weight: 600;
        color: gray;
      }

      .input:focus {
        border: 2px solid black;
      }

      .input:not(:placeholder-shown)+ .label {
        top: -7px;
        left: 3px;
        z-index: 10;
        font-size: 14px;
        font-weight: 600;
      }
    
/*FOOTER*/
.footer{
  height: 600px;
}
  /*Footer/Menu*/
  .footer .footer_menu{
    width: 20%;
    height: 500px;
  }
  .footer .footer_menu ul{
    list-style-type: none;
    justify-content: space-around;
    overflow: hidden;
    background-color:black;
    display: block;
    border-radius: 1px;
  }

  .footer .footer_menu li a:hover{
    background-color: gray;
    border-radius: 0px;
  }

  .footer.footer_menu h1{
    font-size: 30px;
    font-family: Arial;
    text-align: left;
    color: white;
  }

  .footer .footer_menu h2{
    font-size: 20px;
    font-family: Arial;
    text-align: left;
    color: white;
  }

  /*Footer/Síguenos*/
  .footer .footer_siguenos{
    width: 35%;
    height: 400px;
  }

  .footer .footer_siguenos ul{
    list-style-type: none;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 15px ;
    padding-bottom: 15px;
    overflow: hidden;
    background-color:black;
    display: block;
    border-radius: 1px;
  }

  .footer .footer_siguenos h1{
    font-size: 30px;
    font-family: Arial;
    text-align: left;
    color: white;
  }

  .footer .footer_siguenos img{
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    align-content: center;
  }

  /*Footer/Información - Descripción Miscelánea Osiris*/
  .footer .footer_info_empresa{
    width: 45%;
    height: 400px;
  }

  .footer .footer_info_empresa ul{
    list-style-type: none;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 15px ;
    padding-bottom: 15px;
    overflow: hidden;
    background-color:black;
    display: block;
    border-radius: 1px;
  }

  .footer .footer_info_empresa h1{
    font-size: 30px;
    font-family: Arial;
    text-align: left;
    color: white;
  }

  .footer .footer_info_empresa p{
    font-size: 15px;
    font-family: Arial;
    text-align: left;
    color: white;
  }

  .footer .footer_info_empresa img{
    width: 120px;
    height: 120px;
    padding: 5px;
    margin: 5px;
    align-content: center;
  }