/* Opciones venta */
.opciones-venta{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
}

    .registrar_venta{
        display: flex;
        width: 20%;
        height: 100%;
        background-color: #D9D9D9;
        border: 1px solid black;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .registrar_venta a {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .registrar_venta h2{
        color: black;
        font-size: 18px;
    }

    .registrar_venta img{
        display: flex;
        width: 35px;
        height: 70%;
        align-items: flex-end;
        margin-left: 15px;
    }

    /* Barra búsqueda */
    .barra_busqueda{
        display: flex;
        width: 55%;
        height: 60%;
        justify-content: end;
    }

    #barra_busqueda{
        border-radius: 5px;
        width: 50%;
        font-size: 14px;
        border: 1px solid black;
    }   

/* Ventas */
.cont-ventas{
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 30px;
    justify-content: space-between;
}

/* Tabla productos */
.tabla-ventas{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 15px;
    flex-direction: column;
}

    /* Columnas características de producto  */
    .columnas-caract{
        display: flex;
        width: 100%;
        height: 35px;
        color: white;
        justify-content: space-between;
    }

        /* Item de columna */
        .item-columna{
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }

            /* Nombre Producto */
            .nombre-prod{
                display: flex;
                width: 54.5%;
                height: 100%;
                border: 1px solid black;
                background-color: #212EC2;
            }

            /* Fecha Compra */
            .fecha-compra{
                display: flex;
                width: 15%;
                height: 100%;
                border: 1px solid black;
                background-color: #212EC2;
            }

            /* Cantidad */
            .cantidad-prod{
                display: flex;
                width: 15%;
                height: 100%;
                border: 1px solid black;
                background-color: #212EC2;
            }

            /* Precio Producto */
            .precio-prod{
                display: flex;
                width: 15%;
                height: 100%;
                border: 1px solid black;
                background-color: #212EC2;
            }

    /* Columnas datos de filas */
    .filas-datos{
        display: flex;
        width: 100%;
        height: 30px;
        color: black;
        margin-top: 3px;
        justify-content: space-between;
    }
        /* Ítem fila */
        .item-fila{
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }   

            /* Nombre de producto */
            .nombre-prod-dato{
                display: flex;
                width: 54.5%;
                height: 100%;
                border: 1px solid black;
                background-color: #C0C0C0;
                
            }

            /* Fecha compra */
            .fecha-compra-dato{
                display: flex;
                width: 15%;
                height: 100%;
                border: 1px solid black;
                background-color: #C0C0C0;
            }

            /* Cantidad producto */
            .cantidad-prod-dato{
                display: flex;
                width: 15%;
                height: 100%;
                border: 1px solid black;
                background-color: #C0C0C0;
            }

            /* Precio producto */
            .precio-prod-dato{
                display: flex;
                width: 15%;
                height: 100%;
                border: 1px solid black;
                background-color: #C0C0C0;
            }

/* @Media */
    /* @Media 1024px */
    @media(max-width: 1024px){
    /* Opciones venta */
    .opciones-venta{
        display: flex;
        width: 100%;
        height: 40px;
        margin-top: 25px;
        justify-content: space-between;
        align-items: center;
    }

        .registrar_venta{
            display: flex;
            width: 30%;
            height: 100%;
            background-color: #D9D9D9;
            border: 1px solid black;
            border-radius: 7px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .registrar_venta a {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .registrar_venta h2{
            color: black;
            font-size: 17px;
        }

        .registrar_venta img{
            display: flex;
            width: 25px;
            height: 65%;
            align-items: flex-end;
            margin-left: 15px;
        }

        /* Barra búsqueda */
        .barra_busqueda{
            display: flex;
            width: 55%;
            height: 60%;
            justify-content: end;
        }

        #barra_busqueda{
            border-radius: 5px;
            width: 50%;
            font-size: 12px;
            border: 1px solid black;
        }   

    /* Tabla productos */
    .tabla-ventas{
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 10px;
        flex-direction: column;
    }

        /* Columnas características de producto  */
        .columnas-caract{
            display: flex;
            width: 100%;
            height: 30px;
            color: white;
            justify-content: space-between;
        }

            /* Item de columna */
            .item-columna{
                justify-content: center;
                align-items: center;
                font-size: 12.5px;
            }

                /* Nombre Producto */
                .nombre-prod{
                    display: flex;
                    width: 59.5%;
                    height: 100%;
                    border: 1px solid black;
                    background-color: #212EC2;
                }

                /* Fecha Compra */
                .fecha-compra{
                    display: flex;
                    width: 15%;
                    height: 100%;
                    border: 1px solid black;
                    background-color: #212EC2;
                }

                /* Cantidad */
                .cantidad-prod{
                    display: flex;
                    width: 10.1%;
                    height: 100%;
                    border: 1px solid black;
                    background-color: #212EC2;
                }

                /* Precio Producto */
                .precio-prod{
                    display: flex;
                    width: 15%;
                    height: 100%;
                    border: 1px solid black;
                    background-color: #212EC2;
                }

        /* Columnas datos de filas */
        .filas-datos{
            display: flex;
            width: 100%;
            height: 30px;
            color: black;
            margin-top: 3px;
            justify-content: space-between;
        }
            /* Ítem fila */
            .item-fila{
                justify-content: center;
                align-items: center;
                font-size: 10px;
            }   

                /* Nombre de producto */
                .nombre-prod-dato{
                    display: flex;
                    width: 59.5%;
                    height: 100%;
                    border: 1px solid black;
                    background-color: #C0C0C0;
                    
                }

                /* Fecha compra */
                .fecha-compra-dato{
                    display: flex;
                    width: 15%;
                    height: 100%;
                    border: 1px solid black;
                    background-color: #C0C0C0;
                }

                /* Cantidad producto */
                .cantidad-prod-dato{
                    display: flex;
                    width: 10.1%;
                    height: 100%;
                    border: 1px solid black;
                    background-color: #C0C0C0;
                }

                /* Precio producto */
                .precio-prod-dato{
                    display: flex;
                    width: 15%;
                    height: 100%;
                    border: 1px solid black;
                    background-color: #C0C0C0;
                }

    }

/* @Media 425px */
@media(max-width:425px){
    /* Opciones venta */
    .opciones-venta{
        display: flex;
        width: 100%;
        height: 30px;
        margin-top: 25px;
        justify-content: space-between;
        align-items: center;
    }

        .registrar_venta{
            display: flex;
            width: 45%;
            height: 100%;
            background-color: #D9D9D9;
            border: 1px solid black;
            border-radius: 7px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .registrar_venta a {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .registrar_venta h2{
            color: black;
            font-size: 12px;
        }

        .registrar_venta img{
            display: flex;
            width: 20px;
            height: 65%;
            align-items: flex-end;
            margin-left: 7px;
        }

        /* Barra búsqueda */
        .barra_busqueda{
            display: flex;
            width: 65%;
            height: 60%;
            justify-content: end;
        }

        #barra_busqueda{
            border-radius: 5px;
            width: 50%;
            font-size: 9px;
            border: 1px solid black;
        }   

    /* Ventas */
    .cont-ventas{
        display: flex;
        width: 100%;
        height: 8.5%;
        margin-top: 10px;
        flex-direction: column;
    }

        /* Tabla productos */
        .tabla-ventas{
            display: flex;
            width: 100%;
            height: auto;
            margin-top: 10px;
            flex-direction: column;
        }

            /* Columnas características de producto  */
            .columnas-caract{
                display: flex;
                width: 100%;
                height: 25px;
                color: white;
                justify-content: space-between;
            }

                /* Item de columna */
                .item-columna{
                    justify-content: center;
                    align-items: center;
                    font-size: 8px;
                }

                    /* Nombre Producto */
                    .nombre-prod{
                        display: flex;
                        width: 51.5%;
                        height: 100%;
                        border: 1px solid black;
                        background-color: #212EC2;
                    }

                    /* Fecha Compra */
                    .fecha-compra{
                        display: flex;
                        width: 17%;
                        height: 100%;
                        border: 1px solid black;
                        background-color: #212EC2;
                        text-align: center;
                    }

                    /* Cantidad */
                    .cantidad-prod{
                        display: flex;
                        width: 16.1%;
                        height: 100%;
                        border: 1px solid black;
                        background-color: #212EC2;
                        text-align: center;
                    }

                    /* Precio Producto */
                    .precio-prod{
                        display: flex;
                        width: 15%;
                        height: 100%;
                        border: 1px solid black;
                        background-color: #212EC2;
                    }

            /* Columnas datos de filas */
            .filas-datos{
                display: flex;
                width: 100%;
                height: 20px;
                color: black;
                margin-top: 3px;
                justify-content: space-between;
            }
                /* Ítem fila */
                .item-fila{
                    justify-content: center;
                    align-items: center;
                    font-size: 7px;
                }   

                    /* Nombre de producto */
                    .nombre-prod-dato{
                        display: flex;
                        width: 51.5%;
                        height: 100%;
                        border: 1px solid black;
                        background-color: #C0C0C0;
                        
                    }

                    /* Fecha compra */
                    .fecha-compra-dato{
                        display: flex;
                        width: 17%;
                        height: 100%;
                        border: 1px solid black;
                        background-color: #C0C0C0;
                    }

                    /* Cantidad producto */
                    .cantidad-prod-dato{
                        display: flex;
                        width: 16.1%;
                        height: 100%;
                        border: 1px solid black;
                        background-color: #C0C0C0;
                    }

                    /* Precio producto */
                    .precio-prod-dato{
                        display: flex;
                        width: 15%;
                        height: 100%;
                        border: 1px solid black;
                        background-color: #C0C0C0;
                    }
}

    /* @media 320px */
    @media(max-width: 320px){
        .registrar_venta{
            display: flex;
            width: 47%;
            height: 100%;
            background-color: #D9D9D9;
            border: 1px solid black;
            border-radius: 7px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .registrar_venta a {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .registrar_venta h2{
            color: black;
            font-size: 9px;
        }

        .registrar_venta img{
            display: flex;
            width: 17px;
            height: 65%;
            align-items: flex-end;
            margin-left: 5px;
        }
    }