/*Body*/
.body{
    background-color: #999999 !important;
}

*{
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px;  */
}


/* Contenido - Contenedor Título de Ventana */
.ctdo-titulo_Ventana{
    float: left;
    width: 100%;
    height: 80px;
    background-color: white;
    border: 2px solid black;
    margin: 0px;
    margin-top: -2200px;
}

.ctdo-titulo_Ventana h1{
    float: left;
    color: black;
    font-size: 30px;
    font-family: Helvetica;
    width: 100%;
    margin: 0px;
    margin-left: 10px;
    margin-top: 20px;
}

/* Gráficos estadísticos */
.graf_estadisticos{
    float: left;
    width: 65%;
    height: 100%;
    margin: 0px;
    margin-top: 20px;
}

    /* Gráfico de barras horizontal: Número de usuarios actuales */
    .gfbh-num_usuarios{
        float: left;
        width: 100%;
        height: 400px;
        background-color: white;
        border: 2px solid black;
    }

    .gfbh-num_usuarios h2{
        float: left;
        color: black;
        font-size: 40px;
        margin: 10px;
        font-family: Helvetica;
        margin-top: 20px;
    }

    /* Numero  */
    .num{
        float: left;
        width: 120px;
        height: 70px;
        color: black;
        font-size: 50px;
        font-family: Helvetica;
        border: 2px solid black;
        margin: 10px;
    }

    .num h3{
        float: left;
        color: black;
        font-size: 40px;
        margin: 10px;
        position: absolute;
        margin-left: 25px;
    }

    .graf_estadisticos h4{
        float: left;
        color: black;
        font-size: 40px;
        margin: 10px;
        margin-left: 10px;
        margin-top: 35px;
    }

    .graf_estadisticos h5{
        float: left;
        color: black;
        font-size: 15px;
        margin: 10px;
        margin-left: 10px;
        margin-top: 55px;
    }

    .graf_estadisticos img{
        float: left;
        width: 100%;
        height: 200px;
    }

    /* Gráfico de barras vertical: Ventas digitales hoy  */
    .gdbv-ventas_dig_hoy{
        float: left;
        width: 100%;
        height: 400px;
        background-color: white;
        border: 2px solid black;
        margin-top: 25px;
    }

    .gdbv-ventas_dig_hoy h2{
        float: left;
        color: black;
        font-size: 40px;
        margin: 10px;
        font-family: Helvetica;
        margin-top: 20px;
    }

    .gdbv-ventas_dig_hoy img{
        float: left;
        width: 100%;
        height: 330px;
    }

    /* Gráfico de líneas: Visitas diarias de tu sitio web  */
    .gdl-visitas_diarias{
        float: left;
        width: 100%;
        height: 400px;
        background-color: white;
        border: 2px solid black;
        margin-top: 25px;
    }

    .gdl-visitas_diarias h2{
        float: left;
        color: black;
        font-size: 40px;
        margin: 10px;
        font-family: Helvetica;
        margin-top: 20px;
    }

    .gdl-visitas_diarias img{
        float: left;
        width: 100%;
        height: 330px;
    }

/* Productos más vendidos esta semana */
.productos_mas_vendidos{
    float: right;
    width: 33%;
    height: 50%;
    background-color: white;
    border: 2px solid black;
    margin: 0px;
    margin-top: 20px;
}

.productos_mas_vendidos h2{
    float: left;
    width: 100%;
    color: black;
    font-size: 24px;
    font-family: Helvetica;
    margin-left: 10px;
    margin-top: 25px;
}

.productos_mas_vendidos h3{
    float: left;
    color: black;
    font-size: 18px;
    font-family: Helvetica;
    margin-left: 10px;
    margin-top: -20px;
}

    /* Contenedor producto */
    .cont_producto{
        float: right;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .cont_producto img{
        float: left;
        width: 42%;
        height: 200px;
        border: 1px solid black;
        margin: 0px;
        margin-left: 15px;
    }

    .cont_producto h2{
        float: left;
        color: black;
        font-size: 18px;
        font-family: Helvetica;
        margin: 5px;
        margin-left: 10px;
        margin-top: -180px;
        margin-left: 150px;
    }

    .cont_producto h3{
        float: left;
        color: black;
        font-size: 18px;
        font-family: Helvetica;
        margin: 5px;
        margin-left: 10px;
        margin-top: -155px;
        margin-left: 150px;
    }

    .cont_producto h4{
        float: left;
        color: black;
        font-size: 12px;
        font-family: Helvetica;
        margin-left: 10px;
        margin-top: -120px;
        margin-left: 150px;
    }

    .cont_producto h5{
        float: left;
        color: black;
        font-size: 12px;
        font-family: Helvetica;
        margin-left: 10px;
        margin-top: -100px;
        margin-left: 150px;
    }

    .cont_producto h6{
        float: left;
        color: black;
        font-size: 10px;
        font-family: Helvetica;
        margin-left: 10px;
        margin-top: -20px;
        margin-left: 150px;
    }

