*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body{
    background-color: gray;
}

/* Contenedor superior Info inicial Factura */
.cont_info_factura{
    float: left;
    width: 100%;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 80px;
}

.cont_info_factura h1{
    float: left;
    color: black;
    font-size: 40px;
    font-family: Helvetica;
    width: 100%;
    margin-top: 25px;
    margin-left: 20px;
}

/* Tabla Factura */
.tab_factura {
    width: 70%;
    height: 40px;
    background-color: white;
    color: black;
    margin-left: 15%;
    margin-bottom: 30px;
}

    /* Caracteísticas de productos */
    .caract_productos{
        background-color: gray;
        height: 50px;
        text-align: center;
    }

    /* Celdas */
    .tab_factura td{
        border: 1px solid black;
        text-align: center;
        height: 30px;
    }

    /* Texto */
    .tab_factura {
        color: black;
        text-align: center;
    }

    /* Total Fila Tabla */
    .total_tabla{
        background-color: white;
        height: 35px;
        text-align: center;
    }

/* Botón: Editar Factura */
.bott-editar_factura{
    float: left;
    width: 150px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 15%;
}

.bott-editar_factura h3{
    float: left;
    width: 100%;
    color: black;
    font-size: 16px;
    font-family: Helvetica;
}

.bott-editar_factura a{
    color: black;
}

/* Descargar factura */
.descargar_fact{
    float: right;
    width: 250px;
    height: 30px;
    margin-right: 11%;
    margin-top: 10px;
    margin-bottom: 300px;
}

.descargar_fact h4{
    float: left;
    color: blue;
    font-size: 15px;
    font-family: Helvetica;
}

.descargar_fact img{
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 50px;
}

